.hero {
/* margin-top: 00px; */
   min-height: 100vh;
   position: relative;
   /* background-color: #0a0a0a; */
  }
html{
    scroll-behavior: smooth;
}
body{
    /* min-height: 3000px; */
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    /* background-color: black; */
}
main{
    margin-top: 50vh;
} 
.hero, .home, .info{
    transition: background-color 1s ease, color 1s ease;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(a.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    z-index: -1;
    /* filter: grayscale(); */
}
.hero h1, .hero h4, .hero p{
    text-shadow: 0 2px 2px rgb(0 0 0 /0.5);
}
.hero h1{
    font-family:'Sacramento', cursive;
    font-size:7rem;
}
.hero h4{
    font-size: 1.6rem;
}
.hero p{
    font-size: 1.4rem;
}
.hero a{ 
    margin-top: 4px;
    color: rgb(140, 182, 255);
    background-color: white;
}
@keyframes Move {
    0%{
        left: 48%;
    }
    50% {
        left: 52%;
    }
    100%{
        left:48%;
    }
  }

.hero a:hover{
    background-color: rgba(140, 192, 255, 0.754);
    color: white;
}
p#down{
    font-size: 1.3rem;
    color: white;
    margin: auto;
    max-width: 400px;
    /* width: 20vw; */
    border-radius: 20px;
    margin-bottom: 10px;
    /* padding: ; */
    /* color: white; */
    background-color: rgb(13, 158, 255);
}
.nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: transparent; */
    background-color: rgba(255,255,255,255 , 0.3 ) !important;
    color: #ffffffda;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    backdrop-filter: blur(2px);
  }
  
  .nav a {
    font-weight: 500;
    margin: 0 1vw;
    color: white;
    text-shadow: 0 2px 4px rgb(0 0 0 /0.5);
    text-decoration: none;
  }
  
  .nav a:hover {
    color: rgba(6, 255, 255, 0.72);
    /* text-decoration: underline; */
    /* font-size: 1rem; */
  }
  .dark-mode .nav a:hover{
    color: pink;
  }
  .dark-mode .line{
    color: #ffffff;
  }
  .dark-mode .line:after{
    background-color: rgba(255, 255, 255, 0.72);
  }
  
  .line {
    display: inline-block;
    position: relative;
    color: #0054ca;
  }
 
  .line:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(6, 122, 255, 0.72);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .line:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.home{
    /* content: ''; */
    background-image: url(bluebg3.jpg);
    background-size: cover;
    min-height: 100vh;
    margin-top: -2.8rem;
    padding-top: 12rem;
    min-height: 104vh;
    border-top: 1px solid black;
    /* box-shadow: none; */
}
.home h2{
    color: rgb(0, 140, 255);
    text-shadow: 0 2px 2px rgb(0 0 0 /0.5);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
}
.home h3{
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 1rem
}
.home p{
    font-size: 1.1rem;
    color: #040404;
}
.home .couple{
    margin-top: 100px;
}
.home .couple h3{
    font-family: "Sacramento";
    font-size: 3.4rem;
    color: rgb(106, 0, 255);
    text-shadow: 0 2px 2px rgb(0 0 0 /0.5);
}
.home .couple img{
    width: 100%;
}
.home .couple p{
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    
    text-shadow: 0 2px 10px rgb(0 0 0 /0.5);
}
.heart{
    /* top: 50%; */
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(0, 0, 0,0.5);
    position: absolute;
    left: 50%;
    animation: Move 1s linear infinite;
    transform: translateX(-50%) translateY(65px) ;
}
.heart i{
    margin: auto;
    color: red;
}
.info{
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.info h2{
    color: rgb(85, 166, 232);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
}
.info .alamat {
    font-size: 1.1rem;
}
p.description{
    font-size: 1rem;
    font-weight: 300;
}
.info .card{
    background-color: rgba(255,255,255, 0.2) !important;
    color: white !important;
    border: 1px solid #999;
}
.info .card-header{
    border-bottom: 1px solid #999;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}
.info .card-body{
    font-size: 1rem;
}
.info .card-footer{
    border-top: 1px solid #999;
}

.penutup{
    margin-top: -0.1rem ;
    height: 15rem;;
    /* background-color: rgb(7, 189, 255); */
    background-image: linear-gradient(black, rgb(2, 22, 54));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.penutup p{
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 2px rgb(0 0 0 /0.5);
    /* font-family: 'sacramento'; */
}
.penutup h3{
    font-size: 5rem;
    color: rgb(255, 255, 250);
    text-shadow: 0 2px 2px rgb(0 0 0 /0.5);
    font-family: 'sacramento';
}
.dark-mode .hero::before {
    background-image: url(rose.jpg);
}
.dark-mode main h1{ 
    color: rgb(255, 255, 255);
}
.dark-mode .main a{ 
    /* color: rgb(234, 255, 0); */
    background-color: white;
}
.dark-mode p#down{ 
    /* color: rgb(234, 255, 0); */
    background-color: white;
    color: black;
    text-shadow: none;
}
.dark-mode .home {
    background-image: url(roseblack.jpeg);
    background-position: center;
    background-size: cover;
    /* filter: grayscale(); */
  }

.dark-mode .home{
    border-top: 5px solid black;
  }
.dark-mode .hero a{
    color: rgb(197, 42, 34);
  }
.dark-mode .hero a:hover{
    background-color: rgba(255, 249, 249, 0.754);
    color: rgb(255, 0, 0);
}
.dark-mode #profil h3, #profil p{
    color: white;
}
.dark-mode #profil h2{
    color: pink;
}
.dark-mode .home .couple h3{
    color: pink;
}
.dark-mode .penutup{
    background-image: linear-gradient(black, rgb(54, 2, 2));
}
/* .dark-mode .penutup p,.penutup h3{
    color: pink;
} */
.dark-mode .info h2 {
    color: rgb(255, 90, 90);
}

button#toggle-dark-mode{
    /* width: 50%; */
    background-color: rgba(31, 29, 29, 0.998);
    z-index: 1;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1.2rem;
}
.dark-mode button#toggle-dark-mode{
    background-color: rgb(63, 118, 255);
    content: 🌼;
}

@media (max-width:1200px){
    .home .heart {
        transform: translateX(-50%) translateY(45px);
    }
    html{
        font-size: 85%;
    }
}
@media (max-width:992px){
    html{
        font-size: 75%;
    }
    .home{
        margin-top: -3.15rem;
    }
    .heart{
        display: none;
    }
}

@media (max-width:768px){
    html{
        font-size: 70%;
    }
    .home{
        margin-top: -3.25rem;
    }
}

@media (max-width:576px ){
    html{
        font-size: 65%;
    }
    .home{
        margin-top: -3.35rem;
    }
}
